.App {
  display: flex;
  align-items: center;
  text-align: center;
  background: rgb(103,63,251);
  background: radial-gradient(circle, rgba(103,63,251,0.9923319669664741) 46%, rgba(170,70,252,1) 100%);
  min-height: 100vh;
  color: white;
  
}
.border{
  margin:0 auto;
  min-height: 100%;
  width: 100%;
  max-width: max-content;
  background:none;
}
.words-border{
  background-color: #fff;
  width: 90%;
  margin: 2% auto;
  height: 100%;
  color: black;
  text-align: start;
  padding: 3%;
 
}
.words-border span{
  font-size: large;
  padding: 3%;
  white-space: nowrap;
}
.border input{
  width: 90%;
  height: 100%;
  margin-bottom: 2%;
  margin-top: 2%;
}
.result{
 text-align: center;

}
.result-dks{
  font-size: 100px;
  width: 100%;
  background: rgb(251,249,68);
background: linear-gradient(0deg, rgba(251,249,68,1) 0%, rgba(247,170,4,1) 99%);
}
.modal-body p{
  display: flex;
  justify-content: space-between;
}
.count{
  margin: 0 auto;
  width: 80px;
  height: 80px;
  background-color: tomato;
  border-radius: 50%;
  border: 3px solid white;
  font-size: xx-large;
  line-height: 2.2;
}
.again{
  cursor: pointer;
}
.again:hover{
  color: tomato;
  transform: scaleY(-1);
}
.modal-again{
font-size: xx-small;
}
.language{
  width: 60px;
  height: 60px;
  cursor: pointer;
  border: 3px solid white;
  border-radius: 50%;
  line-height: 2.2;
  margin: 0 auto;
}
.language:hover{
  background-color:tomato;
}
@media(max-width:995px){
  .left-panel{
    display: flex;
    align-items: end;
    max-width: 80%;
    margin: 0 auto;
  }
}